*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#mode{
    position: absolute;
    top: 2%;
    right: 10%;
}
.hero{
    height: 100vh;
    width: 100vw;
    /* background-image: url(./Images/narrow-muddy-road-dark-forest.jpg); */
    background-image: url(./Images/landscape-view-fields-manali-mountains-india.jpg);
    background-size: cover;
}
/* Dark Mode */
.dark{
    height: 100vh;
    width: 100vw;
    background-image: url(./Images/narrow-muddy-road-dark-forest.jpg);
    /* background-image: url(./Images/landscape-view-fields-manali-mountains-india.jpg); */
    background-size: cover;
}